
body {
    font-family: 'Lato', sans-serif;
    margin: 12% auto;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    background-color: rgb(229, 229, 229);
}

h1 {
    color: rgb(7, 140, 152);
    font-weight: 400;
    font-size: 3rem;
}

.number {
    font-weight: 700;
    font-size: 6rem;
}

button {
    border: 1.5px solid rgb(150, 150, 150);
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    margin: 10px 20px;
    background-color: transparent;
    font-weight: 300;
}

.btn-decrease{
    background-color: rgb(191, 25, 25);
    color: white;
    border: none;
}

.btn-increase{
    background-color: rgb(28, 123, 28);
    color:white;
    border: none;
}

.positiveNum {
    color: rgb(28, 123, 28);
}

.negativeNum {
    color: rgb(191, 25, 25);
}